/*
 * @Author: 马美华
 * @Date: 2022-03-10 13:36:30
 * @LastEditTime: 2022-04-1 18:30:30
 * @LastEditors: 马美华
 * @Description:
 * @FilePath: Markm-Ui组件库开发
 * 代码版权方：'mmh'
 */
@font-face {
  font-family: "iconfont"; /* Project id 3242755 */
  src: url('./src/iconfont.woff2?t=1647157126347') format('woff2'),
       url('./src/iconfont.woff?t=1647157126347') format('woff'),
       url('./src/iconfont.ttf?t=1647157126347') format('truetype');
}

[class*='m-icon-'] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.m-icon-wangluotuopu:before {
  content: "\e835";
}
.m-icon-liebiao:before {
  content: "\e606";
}

.m-icon-shanchu3:before {
  content: "\e608";
}

.m-icon-wangluotuopu:before {
  content: "\e835";
}

.m-icon-xingneng:before {
  content: "\e605";
}

.m-icon-kuaisu:before {
  content: "\e727";
}

.m-icon-shituxuanranmoshi:before {
  content: "\e656";
}

.m-icon-tijixiao:before {
  content: "\e643";
}

.m-icon-bianjiwenjian:before {
  content: "\e601";
}

.m-icon-dianzan:before {
  content: "\e602";
}

.m-icon-jinggao:before {
  content: "\e604";
}

.m-icon-icon:before {
  content: "\e651";
}

.m-icon-gantanhao:before {
  content: "\e60e";
}

.m-icon-cuowu:before {
  content: "\e68c";
}

.m-icon-dianzan1:before {
  content: "\e614";
}

.m-icon-chenggong:before {
  content: "\e8ad";
}

.m-icon-dianzan2:before {
  content: "\e6af";
}

.m-icon-chakan:before {
  content: "\e600";
}

.m-icon-guanbixianshi:before {
  content: "\e63e";
}

.m-icon-xianshi:before {
  content: "\e648";
}

.m-icon-shanchu2:before {
  content: "\e603";
}

.m-icon-shanchu1:before {
  content: "\e8b6";
}

.m-icon-dianhua:before {
  content: "\e797";
}

.m-icon-fangda:before {
  content: "\e622";
}

.m-icon-shanchu:before {
  content: "\e718";
}

.m-icon-fangda1:before {
  content: "\e6e5";
}

.m-icon-tianxie:before {
  content: "\e646";
}

